$blanco: #fff;
$blanco2: #ffffff54;
$marron: #af8639;
$gradient: radial-gradient(circle, rgba(214, 155, 45, 0.45) 0%, rgba(255, 255, 255, 0.247) 100%);
$width: 100%;
$heigth: 70vh;
$clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);

@mixin header( $width, $heigth, $clip-path){
  width: $width;
  height: $heigth;
  clip-path: $clip-path;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'trispace', sans-serif;
}


html{
  scroll-behavior: smooth;
}

