.header__container{
  @include header( $width, $heigth, $bg-position, $clip-path);
  background: $gradient, url(../img/heeader.avif);
  background-size: cover;
}

.app__container{
  @include header( $width, $heigth, $bg-position, $clip-path);
  background: $gradient, url(../img/app_header.avif);
  background-size: cover;
}
.lugares__container--header{
  @include header( $width, $heigth, $bg-position, $clip-path);
  background: $gradient, url(../img/puente.jpg);
  background-size: cover;
}

.house__container{
  @include header( $width, $heigth, $bg-position, $clip-path);
  background: $gradient, url(../img/header_house.jpg);
  background-size: cover;
}

.header__title{
  color: $blanco;
}