.bg{
  background: #d09a1e85;
  background-size: cover;
  background-position: 40%;
}

.title{
  width: 95%;
  font-weight: 500;
  font-size: 4rem;
  font-style: oblique;
  color: $blanco;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;

  a{
    font-size: 2rem;
  }
}

.TimeLine{
  position: relative;
  max-width: 1200px;
  margin:0 auto;
  color:$marron;  

  &__container{
    padding: 10px 50px;
    position: relative;
    width: 85%;
    margin-left: 30px;

    &:last-child{
      margin-bottom: 50px;
    }
  }

  &__circle{
    background-color: white;
    padding: 5px;
    color: white;
    position: absolute;
    left: -20px;
    width: 40px;
    height: 40px;
    z-index: 10;
    top: 32px;
    border-radius: 50%;
  }
  
  &__info{
    padding: 20px 30px;
    background-color: $blanco2;
    position: relative;
    border-radius: 10px;
    font-size: 1rem;

  }

  &__title{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    justify-items:  center;
  }

  &__text{
    line-height: .9rem;
    font-weight: 300;

    .TimeLine__link{
      text-decoration: none;
      font-weight: 200;
      color: #705925;
    }
  }

  &::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: $blanco;
    top: 0;
    left: 31px;
    margin-left: -3px;

  }

  .now{
    background-color: $blanco;
  }
}

.TimeLine__circle--left, .TimeLine__circle--right{
  display: none;
}