.section__title{
  display: flex;
  color: $marron;
  justify-content: center;
  font-size: 2.6rem;
  font-weight: 600;
  align-items: center;
  padding: 5px;
  letter-spacing: 10px;
}

.lugares__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px 0 60px 0;
  color: #af8639;
  margin-top: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.lugares__title{
  padding-top: 10px;
  text-align: center;
  background: linear-gradient(to right, #ffffff70, #d8a23e)0 0 / 400% 100%;
  animation: move-bg 4s infinite reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;

  @keyframes move-bg {
    to{
      background-position: 400% 0;}
  }
}

.lugares__text{
  width: auto;
  padding: 10px 10px 5px 10px;
  text-align: center;
  font-weight: 300; 
  overflow-y: hidden;
  overflow-x: hidden; 
}

.lugares__img{
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.lugares__list{
  padding-bottom: 20px;
  list-style: none;
}

.lugares__item{

  .lugares__link{
    color:$marron;
    text-decoration: none;
    font-weight: 500;

    &:hover{
      color: #c2c2c2b7;
    }
  }
}

.lugares__map{
  display: none;
}

/*========================================*/
/*============css de "en casa"============*/
/*========================================*/

.home__link{
  padding-top: 5px;
}

.lugares__video{
  display: none;
}


.sites__cards{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 2em auto;
  row-gap: 2em;
}

.card__sites{
  color: $blanco;
  
  padding: 2rem;
  max-width: 300px;
  border-radius: 1rem;  
  overflow: hidden;
  transition: transform 500ms ease;

  &:hover{
    transform: scale(1.05);
  }

  .card__info--sites{
    padding: 0 1.5rem;
    background: $gradient-reverse;
  }

  .card__title--sites{
    letter-spacing: .2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 35px 0;
    text-align: center;
  }

  .card__text--sites{
    color:$blanco;
    text-align: center;
    
  }
}

.card__bg{
  background-image: url("../img/paru.jpg");
  background-size: cover;
  background-position: center;
}

.card__bg2{
  background-image: url("../img/cucipa.jpg");
  background-size: cover;
  background-position: center;
}

.card__bg3{
  background-image: url("../img/donZ.webp");
  background-size: cover;
  background-position: center;
}

.card__bg4{
  background-image: url("../img/cabernet.webp");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.card__bg5{
  background-image: url("../img/fervor.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.card__bg6{
  background-image: url("../img/elcuar.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

@media (hover) {
  .card__info--sites{  
  transform: translateY(80%);
  transition: transform 350ms ease;  
}
  .card__sites:hover .card__info--sites{
  transform: translateY(0);
  transition-delay: 500ms
}
}

