@media (min-width: 650px){

  .header__title{
    width: 65%;
  }

  .about__info{
    width: 50%;
    font-weight: 100;
  }

  .about__text{
    line-height: 2rem;
  }

  .lugares__container{
    width: 100%;
    padding: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .lugares__title{
    padding-top: 10px;
  }

  .lugares__text{
    width: auto;
    padding-top: 10px;
    text-align: justify;
    margin-right: 25px;
  }

  .lugares__img{
    display: block;
    margin: auto;
    padding-top: 60px;
  }

  .lugares__map{
    display: none;
  }

  .lugares__video{
    display: none;
  }

  .lugares__img{
    width: 300px;
    height: 300px;
  }

  .body__contact{
    background-image: radial-gradient(circle, rgba(231, 172, 61, 0.26) 0%, rgba(255, 255, 255, 0.247) 100%), url(../img/header_index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .app__img{
    display: block;
  }

  .TimeLine{
    overflow: 0;
  }

  .TimeLine::after{
    left: 50%;
  }

  .TimeLine__container{
    width: 50%;
    margin-left: 0;
  }

  .TimeLine__circle{
    display: none;
  }

  .left{
    left: 0;

    .TimeLine__circle--left{
      display: inline-block;
      background-color: white;
      padding: 5px;
      color: white;
      position: absolute;
      right: -20px;
      width: 40px;
      height: 40px;
      z-index: 10;
      top: 30px;
      border-radius: 50%;
    }
  }
  
  
  .right{
    left:50%;

    .TimeLine__circle--right{
      display: inline-block;
      background-color: white;
      padding: 5px;
      color: white;
      position: absolute;
      left: -20px;
      width: 40px;
      height: 40px;
      z-index: 10;
      top: 32px;
      border-radius: 50%;
    }
  }

  .TimeLine__title{
    font-size: 1.6rem;
  }

  .title{
    font-size: 5.3rem;

    &__link{
      font-size: 1rem;
      color: $blanco;
    }
  }

}