

.navbar__nav{

  .navbar__logo{
    color:$blanco;

    &:hover{
      color: $blanco;
    }
  }
  
  a{
    color: $blanco;
  }
  ul{

    li{

      ul{
        background-color: #ebebeb00;
        border-style: none;
      }

      a{
        color:$blanco;
        &:focus{
          color: $blanco;
        }

        &:hover{
          color: $blanco;
          background-color: $blanco2;
        }
      }
    }
  }
}

.active_{
  text-transform: uppercase;
  background-color: $blanco2;
}

